name: Build and Deploy

on: push

jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install site
        run: yarn install
      - name: build site
        run: yarn build
      - name: install aws cli
        run: sudo apt-get -y -qq install awscli
      - name: Deploy to S3
        run: ws s3 sync dist s3://katezipp.com --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}